.request_warpper {
  width: 50vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.detail_data h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  font-size: 3.5rem;
}

.detail_data p {
  line-height: 1.5;
  font-size: 1.2rem;
  text-align: center;
}

/* details_home */
.details_home-wrapper {
  height: 135vh;
}

.details_home {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail-home_btn button {
  background: var(--dark);
}

.detail-home_btn button:hover {
  background-color: transparent;
  border: 2px solid var(--dark);
}
.detail-home_btn button a {
  color: var(--light);
  text-decoration: none;
}

.detail-home_btn a:hover {
  color: var(--dark);
}

.detail-home_btn {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

/* before & after */

.before_home {
  position: relative;
  height: 95vh;
}

.before_home img {
  display: block;
  width: 100%;
  height: 95vh;
  object-fit: cover;
  filter: brightness(30%);
}

.before_home .before_position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--light);
}

.before_position {
  height: 100%;
}

.before_image-box {
  position: absolute;
  top: 55%;
  transform: translate(0%, -50%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  gap: 40px;
}

.before_image-box img {
  width: 100%;
  height: 100%;
  filter: brightness(90%);
  cursor: pointer;
}

.Before_btn {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 20px;
}

.Before_btn button {
  padding: 15px 0;
  background: var(--light);
  border: 2px solid var(--light);
}

.Before_btn button:hover {
  background-color: transparent;
  border: 2px solid var(--light);
}
.Before_btn button a {
  color: var(--dark);
  font-size: 1.1rem;
  text-decoration: none;
}

.Before_btn a:hover {
  color: var(--light);
}

.box_image-wrapper img {
  width: 100%;
  box-shadow: var(--shadow);
}
