.hero {
  position: relative;
  height: 90vh;
  top: 10vh;
}

.hero_position {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero_left {
  position: relative;
  color: var(--light);
  width: 50vw;
}

.hero_right {
  position: relative;
  color: var(--light);
  filter: brightness(90%);
  width: 50vw;
  font-size: 2rem;
}

.hero_right > h1 {
  width: 40vw;
  height: 100%;
  line-height: 1.5;
  font-weight: 600;
}

.hero_right span {
  font-size: 3.5rem;
}

.hero_section img {
  height: 90vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
  filter: brightness(60%);
}

.hero_right .hero-btn {
  margin-top: 20px;
}

/* media query */
@media (max-width: 780px) {
  /* CSS rules for viewport widths of 780px or less go here */
  .hero_position {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
  }

  .hero_left {
    width: 0;
  }

  .hero_right {
    width: 100%;
    font-size: 1rem;
  }

  .hero_right > h1 {
    width: 80vw;
    height: 100%;
    line-height: 1.5;
    margin-bottom: 3.5rem;
  }

  .hero_right .hero-btn {
    margin-bottom: 2rem;
  }

  .hero_right span {
    font-weight: 700;
    font-size: 2.2rem;
  }
}
