.location_wrapper {
  height: 80vh;
}

.location_title {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  margin: 3rem;
}

.location_main {
  display: flex;
  align-items: start;
  margin: 0 auto;
  width: 90vw;
}

.location_map {
  width: 100%;
  height: 60vh;
}

.location_map iframe {
  width: 640px;
  height: 480px;
}

.location_details {
  padding-top: 2rem;
  width: 100%;
  text-align: end;
}

.location_details h1 {
  font-size: 3.6rem;
  margin: 2rem 0;
}

.location_details p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 2rem 0;
}

.location_details-btn {
  padding-top: 2rem;
}

.location_details-btn button {
  background: var(--dark);
}

.location_details-btn button:hover {
  background-color: transparent;
  border: 2px solid var(--dark);
}

.location_details-btn button a {
  color: var(--light);
  text-decoration: none;
}

.location_details-btn a:hover {
  color: var(--dark);
}

/* media query */
@media (max-width: 780px) {
  /* CSS rules for viewport widths of 780px or less go here */
  .location_wrapper {
    height: 85vh;
  }

  .location_title {
    font-size: 2.5rem;
    font-weight: 500;
  }

  .location_main {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
    width: 90vw;
  }

  .location_map {
    width: 100%;
    height: 50vh;
  }

  .location_map iframe {
    display: flex;
    justify-content: center;
    width: 550px;
    height: 350px;
  }

  .location_map {
    display: flex;
    justify-content: center;
  }

  .location_details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0rem;
    width: 100%;
    text-align: start;
    /* gap: 2rem; */
  }

  .location_details h1 {
    font-size: 2.6rem;
    margin: 1rem 0;
  }

  .location_details p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 1rem 0;
  }

  .location_details-btn {
    text-align: end;
    padding-top: 2rem;
  }
}
