header {
  position: fixed;
  z-index: 100;
  background-color: black;
  min-width: 100vw;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.logo h1 {
  font-size: 1.5rem;
  color: var(--primary);
}

.nav_menu {
  position: absolute;
  top: 10vh;
  right: 0;
  height: 90vh;
  width: 20vw;
  background-color: #333;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  /* transform: translateX(100%); */
  display: none;
  transition: transform 10.5s ease;
  /* z-index: 100; */
  /* z-index: 0; */
}

.nav_menu.open {
  /* transform: translateX(0); */
  display: block;
  /* z-index: 100; */
  transition: transform 10.5s ease;
}

.nav_menu ul {
  list-style: none;
}
.nav_menu li {
  margin-bottom: 2rem;
  padding: 5px 10px;
  border-radius: 10px;
}

.nav_menu ul li a {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}

.nav_menu ul li:hover {
  background: #696767;
  padding: 5px 10px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
}

.nav_hamburger {
  position: relative;
  display: flex;
  align-items: center;
  width: 2rem;
  height: 2rem;
  padding: 0 20px;
  cursor: pointer;
}

.nav_hamburger::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: green;
  transform: translateY(-10px);
  transition: 0.5;
  box-shadow: 10px 7px red;
}

.nav_hamburger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: green;
  transform: translateY(10px);
  transition: 0.5;
  box-shadow: -10px -7px red;
}

.nav_hamburger:hover::before {
  box-shadow: 0 10px red;
  transition: 200ms;
}

.nav_hamburger:hover::after {
  box-shadow: 0 -10px red;
  transition: 200ms;
}

.nav_hamburger.toggle::before {
  transform: translateY(8px) rotate(45deg);
  box-shadow: 0px 0px red;
}

.nav_hamburger.toggle::after {
  transform: translateY(8px) rotate(-45deg);
  box-shadow: 0px 0px red;
}

/* media query */
@media (max-width: 780px) {
  /* CSS rules for viewport widths of 780px or less go here */
  .nav_menu {
    position: absolute;
    top: 10vh;
    right: 0;
    height: 90vh;
    width: 25vw;
    background-color: #333;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    display: none;
    transition: transform 10.5s ease;
  }

  .nav_menu.open {
    display: block;
    transition: transform 10.5s ease;
  }

  .nav_menu ul li a {
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
  }

  .nav_menu ul li:hover {
    font-size: 1.1rem;
  }

  .logo h1 {
    font-size: 1.3rem;
    color: var(--primary);
  }

  .nav_hamburger::before {
    width: 25px;
    height: 2px;
  }

  .nav_hamburger::after {
    width: 25px;
    height: 2px;
  }
}
