.service_wapper{
    width: 90%;
    margin: 0 auto;
    height: 70vh;

}

.service_wapper h1{
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    font-weight: 300;
    margin: 2.5rem;
}

.service{
    display: flex;
    justify-content: space-around;
}

.service img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
box-shadow: var(--shadow);
}

.service img:hover{
    filter: brightness(50%);
}

.service a{
    display: flex;
    justify-content: center;
    align-items: center;
}