.service_wapper {
  position: relative;
  width: 90%;
  margin: 0 auto;
  height: 70vh;
  top: 10vh;
}

.service_wapper h1 {
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  font-weight: 300;
  margin: 2.5rem;
}

.service {
  display: flex;
  justify-content: space-around;
}

.service img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  box-shadow: var(--shadow);
  filter: brightness(95%);
}

.service img:hover {
  filter: brightness(50%);
}

.service a {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* media query */
@media (max-width: 780px) {
  /* CSS rules for viewport widths of 780px or less go here */
  .service {
    display: flex;
    flex-direction: column;
  }

  .service_wapper h1 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 300;
    margin: 2.5rem;
  }
}
